body {
  color: #4a4e69;
  background-color: #8d99ae;
  font-size: 25px;
  text-align: center;
  align-items: center;
}
h1 {
  color: #edede9;
  font-family: "Fjalla One", sans-serif;
}
.background {
  background-color: #343a40;
  padding: 5px 5px;
  background-image: url(Img/grass.png);
}
