body {
  color: #4a4e69;
  background-color: #b08968;
  font-size: 25px;
  text-align: center;
  align-items: center;
}
h1 {
  color: #edede9;
  font-family: "Fjalla One", sans-serif;
}
.background {
  background-color: #343a40;
  padding: 5px 5px;
  margin: auto;
  background-image: url(Img/grass.png);
}
.Grass1 {
  border: 3px solid black;
}
.Grass2 {
  border: 3px solid black;
}
.Grass3 {
  border: 3px solid black;
}
.second {
  border: 3px solid black;
}
